.about-wrapper {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  // overflow: hidden;
  .nav {
    height: 76px;
  }
  .about-banner{
    // flex: 1;
    height: 300px;
    background: url(https://honganstatic.cls.cn/assets/web/about-banner.png) no-repeat 0 0;
    background-size: cover ;
  }
  .about-content {
    display: flex;
    flex: 2;
    width: 60%;
    margin: 0 auto;
    padding: 15px 0 30px;
    .about-title {
      font-size: 24px;
      color: #666666;
      margin-bottom: 15px;
    }
    .about-intr {
      font-size: 14px;
      color: #333333;
      line-height: 30px;
      text-indent: 2em;
      text-align: justify;
    }
    .summary {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .summary-image {
        width: 550px;
      }
      .summary-title {
        margin-top: 6px;
        font-size: 12px;
        font-weight: 500;
      }
    }
    .ant-tabs-nav-wrap {
      min-height: 634px;
    }
    .ant-tabs .ant-tabs-left-bar {
      background: #F6F6F6 ;
      width: 15%;
    }
    .ant-tabs-ink-bar .ant-tabs-ink-bar-animated {
      display: none;
    }
    .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
      text-align: left;
    }
    .ant-tabs .ant-tabs-left-bar {
      border: 0;
    }
    .ant-tabs-nav .ant-tabs-tab-active {
      background: #1890ff;
      color: #fff;
    }
  }
}
