.page-wrapper {
  width: 100%;
  min-width: 800px;
  height: 100%;
  display: flex;
  background-image: linear-gradient(to right, #11378a, #01122c);
  position: relative;
  flex-direction: column;
  .swiper-container4 {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
  .swiper-slide {
    // font-size: 18px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
}