.yyn-tips{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: .1rem;
    bottom: 1.6rem;
    z-index: 20;
    background: $f;
    transition-duration: .3s;
    opacity: 0;
    box-shadow: 0 .04rem .09rem 0 rgba(0,0,0,.25);
    &.showTips{
        opacity: 1;
    }
    li{
        width: .5rem;
        height: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: .3s;
        background: transparent;
        cursor: pointer;
        position: relative;
        i{
            font-size: .3rem;
            color: $ea;
        }
        .yyn-more{
            width: 2rem;
            transform-origin: 120% 0 0;
            -webkit-transform-origin: 120% 0 0;
            position: absolute;
            left: -2.5rem;
            top: 0;
            background: $f;
            transition-duration: .3s;
            transition-delay: .1s;
            box-shadow: 0 .04rem .09rem 0 rgba(0,0,0,.25);
            opacity: 0;
            font-family: PingFangBold;
            .angle{}
            .content{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 2.4rem;
                padding: .2rem 0;
                p{
                    font-size: .14rem;
                }
                img{
                    width: 1.6rem;
                    height: 1.6rem;
                    display: block;
                    margin-top: .3rem;
                }
            }
        }
        &:hover{
            background: $te;
            i{
                color: $f;
            }
            .yyn-more{
                opacity: 1;
            }
        }
    }
}
