.featuresWrapper{
    width: 100%;
    height: 100vh;
    background: url(../../assets/images/backgroun.png) no-repeat center center;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
