.featuresWrapper{
    position: relative;
    height: 100vh;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    align-items: center;
    justify-content: center;
    .top{
      .title{
        font-family: PingFangSC-Semibold;
        font-size: 28px;
        color: rgba(255,255,255,0.85);
        letter-spacing: 0;
        text-align: center;
        line-height: 24px;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      max-width: 1066px;
      .swiper-container {
        width: 80%;
        min-width: 800px;
        min-height: 300px;
        // height: 40%;
        // display: flex;
        .swiper-slide.swiper-slide-active{
          height: 100%;
          position: relative;
          background: url(https://honganstatic.cls.cn/assets/web/pro_background.png) no-repeat center ;
          background-size: 100%;
          .ava {
            position: relative;
            height: 130px;
            width: 130px;
            img {
              position: absolute;
              margin: 5px 0 0 6px;
              top: 20%;
              display: flex;
              transform: scale(2.2);
              transition: transform 3s;
            }
            .title {
              position: absolute;
              border-bottom: 1px solid #43B0FF;
              color: #43B0FF;
              bottom: 2px;
              font-size: 15px;
            }
          }
        }
        .swiper-slide {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #fff;
          .ava {
            height: 130px;
            width: 130px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
              height: 80px;
            }
            .title {
              font-size: 16px;
              color: rgba(255,255,255,0.85);
            }
          }
        }
        .swiper-button-prev {
          left: 31%;
          background: url(https://honganstatic.cls.cn/assets/web/left.png) no-repeat center;
          background-size: contain;
        }
        .swiper-button-prev::after {
          content: '';
        }
        .swiper-button-next {
          right: 31%;
          background: url(https://honganstatic.cls.cn/assets/web/right.png) no-repeat center;
          background-size: contain;
        }
        .swiper-button-next::after {
          content: '';
        }
      }
      .word-container {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 50px 0;
        .active-wrap {
          flex: 0 0 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          .item {
            margin-bottom: 40px;
            position: relative;
            color: #fff;
            background: url(https://honganstatic.cls.cn/assets/web/bottom-border.png) no-repeat center;
            background-size: cover;
            width: 420px;
            height: 161px;
            .active-title {
              position: absolute;
              top: 15px;
              left: 20px;
              font-size: 16px;
            }
            .active-content {
              position: absolute;
              top: 69px;
              left: 20px;
              font-size: 14px;
              height: 72px;
              width: 380px;
              color: rgba(255,255,255,0.85);
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
            }
          }
        }
      }
    }
}
