.featuresWrapper{
    position: relative;
    height: 100vh;
    background: url(../../assets/images/background23.png) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    .top{
      .title{
        color: #fff;
        font-size: 28px;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      width: 100%;
      .swiper-container {
        width: 80%;
        min-width: 800px;
        height: 40%;
        display: flex;
        padding: 40px 0 0 0;
        .swiper-slide.swiper-slide-active{
          height: 100%;
          transform: scale(1.5);
          transition: transform 3s;
          background: url(../../assets/images/pro_background.png) no-repeat center ;
          background-size: 40%;
          .ava {
            img {
              bottom: 45px;
            }
            .title {
              border-bottom: 1px solid #43B0FF;
              color: #43B0FF;
              bottom: 15px;
              font-size: 16px;
            }
          }
        }
        .swiper-slide {
          height: 70%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #fff;
          .ava {
            position: relative;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #1D93B9;
            img {
              position: absolute;
              width: 40px;
              height: 40px;
            }
            .title {
              font-size: 15px;
              position: absolute;
              bottom: -30px;
            }
          }
        }
        .swiper-button-prev {
          left: 35%;
          background: url(../../assets/images/left.png) no-repeat center;
          background-size: contain;
        }
        .swiper-button-prev::after {
          content: '';
        }
        .swiper-button-next {
          right: 35%;
          background: url(../../assets/images/right.png) no-repeat center;
          background-size: contain;
        }
        .swiper-button-next::after {
          content: '';
        }
      }
      .word-container {
        width: 80%;
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 100px 0;
        .active-wrap {
          flex: 0 0 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          .item {
            color: #fff;
            width: 70%;
            height: 60%;
            .active-title {
              padding: 5px;
              height: 30px;
              background: #43B0FF;
              font-size: 16px;
            }
            .active-content {
              padding: 3px;
              font-size: 14px;
              height: 70px;
              color: rgba(255,255,255,0.85);
              border: 1px solid #aae8f3;
              border-top: transparent;
              border-radius: 0 0 20px 0;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
            }
          }
        }
      }
    }
}
