.yyn-header{
    width: 100%;
    height: 1rem;
    // background: transparent;
    background-color: #000418;
    border: 0;
    transition-duration: .5s;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
    // &.white{
    //     background: $f;
    //     border-bottom: 1px solid rgba(0, 0, 0, .1);
    // }
    .header{
        width: 15rem;
        margin: 0 auto;
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        dl{
            height: 100%;
            width: 20%;
            display: flex;
            align-items: center;
            dt{
                img{
                    width: .48rem;
                    height: .48rem;
                    display: block;
                }
            }
            dd{
                margin-left: .12rem;
                h3{
                    font-size: .25rem;
                    font-weight: bold;
                    color: white;
                }
                p{
                    font-size: .02rem;
                    color: rgba(138,138,138,.6);
                }
            }
        }
    }
}
