.footer-wrap {
  position: relative;
  background: #02173B;
  height: 100%;
  display: flex;
  flex-direction: column;
  .footer-top {
    width: 80%;
    flex: 1;
    display: flex;
    margin: 0 auto;
    padding: 10px 0px;
    color: #fff;
    .top-left{
      display: flex;
      flex-direction: column;
      width: 40%;
      font-size: 12px;
      .footer-logo{
        height: 30px;
        background: url(../../assets/images/logo.png) no-repeat;
        background-size: contain;
      }
      .footer-tele{
        margin: 30px 0;
        color: rgba(255,255,255,0.7);
        .tele-num{
          font-size: 15px;
        }
      }
      // .footer-account {
      //   .word{
      //     margin-bottom: 5px;
      //   }
      //   .code {
      //     background: url(../../assets/images/code.png) no-repeat center center;
      //     background-size: cover;
      //     height: 60px;
      //     width: 60px;
      //   }
      // }
    }
    .top-right {
      display: flex;
      flex-direction: column;
      width: 100%;
      .right-title{
        height: 20px;
        display: flex;
        margin-bottom: 20px;
        div{
          width: 25%;
          display: flex;
          justify-content: center;
        }
      }
      .right-content{
        font-size: 12px;
        display: flex;
        .content-data, .content-resolve, .content-us, .content-link{
          flex: 1;
          display: flex;
          flex-direction: column;
          div, span {
            color: rgba(255,255,255,0.7);
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  .footer-bottom {
    height: 45px;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    background: #000419;
    .content{
      width: 80%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left-content{
        display: flex;
        flex-direction: column;
      }
      .right-content{
        display: flex;
        margin-right: 50px;
        span{
          margin: 0 3px;
        }
      }
    }
  }
}