.slide-wrapper {
  height: 100vh;
  position: relative;
  .nav-wrap {
    height: 106px;
  }
  .slide{
    position: absolute;
    top: 106px;
    left: 0;
    bottom: 0;
    width: 100%;
    .ant-carousel .slick-dots-bottom {
      bottom: 200px;
      padding-left: 15%;
      text-align: start;
      li.slick-active button{
        background: #409FE0;
      }
    }
    .ant-carousel .slick-dots li button {
      width: 48px;
    }
  
    .slide-image1 {
      background: url(../../assets/images/banner.png) no-repeat center;
      background-size: cover;
      height: 100vh;
      color: #fff;
      position: relative;
      .slide-title {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 35%;
        left: 15%;
        color: #fff;
        font-size: 20px;
        .des {
          margin: 15px 0 20px 0;
          font-size: 10px;
        }
        .ant-btn-primary {
          width: 100px;
        }
      }
    }
  }
}