.slide-wrapper {
  height: 100vh;
  display: flex;
  position: relative;
  .nav-wrap {
    flex-shrink: 0;
    height: 76px;
  }
  .slide{
    flex: 1;
    width: 100%;
    .ant-carousel .slick-dots-bottom {
      bottom: 100px;
      padding-left: 15%;
      text-align: start;
      z-index: 200;
      li.slick-active button{
        background: #409FE0;
      }
    }
    .ant-carousel .slick-dots li button {
      width: 48px;
    }
  
    .slide-image1 {
      background: url(https://honganstatic.cls.cn/assets/web/new-slide.png) no-repeat center;
      background-size: cover;
      height: 100vh;
      color: #fff;
      position: relative;
      .slide-title {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 35%;
        left: 15%;
        color: #fff;
        .sub-title {
          font-size: 42px;
          line-height: 36px;
          width: 378px;
          height: 36px;
        }
        .des {
          margin: 30px 0 50px 0;
          font-size: 16px;
          width: 760px;
          height: 31px;
        }
        .ant-btn-primary {
          width: 100px;
        }
      }
    }
  }
  .slide-modal-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

  }
}