.nav{
  width: 80%;
  display: flex;
  .item {
    // width: 20%;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
  }
  // &>div:nth-child(2) {
  //   margin-right: 50%;
  // }
  a{
    color: #fff;
  }
  .active{
    a{
      color: #51B8FF;
    }
  }
}
