.recommendWrapper{
  position: relative;
  height: 100vh;
  padding-top: 80px;
  background: url(../../assets/images/backgroun.png) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  .top {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
      color: #fff;
      font-size: 28px;
      margin-bottom: 20px;
    }
  }
  .content{
    position: absolute;
    top: 180px;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    .content-left {
      width: 40%;
    }
    .content-right {
      width: 40%;
      // border: 1px solid #000;
    }
  }
}
