.recommendWrapper{
  height: 100vh;
  min-height: 750px;
  padding-top: 60px ;
  background: url(../../assets/images/background23.png) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  .top {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
      color: #fff;
      font-size: 28px;
      margin-bottom: 15px;
    }
    .more {
      font-size: 14px;
      color: #409FE0;
    }
  }
  .content{
    flex: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    .content-left {
      width: 45%;
      margin-top: 10px;
    }
    .content-right {
      width: 33%;
      .ant-steps-vertical {
        &>div:last-child{
          display: none;
        }
        .ant-steps-item-active {
          .ant-steps-item-title {
            color: #fff;
          }
          .ant-steps-item-description {
            color: #fff;
            background: linear-gradient( rgba(52, 134, 193, 0.7) 100%,rgba(64,159,224,0.3) 0%);
            border-radius: 3px;
            padding: 3px;
          }
        }
        .ant-steps-item-icon {
          .ant-steps-icon {
            display: none
          }
        }
        .ant-steps-item-tail {
          left: 10px;
          padding: 25px 0 6px
        }
        .ant-steps-item-tail::after {
          background: #409FE0;
        }
        .ant-steps-item-icon {
          width: 20px;
          height: 20px;
        }
        .ant-steps-item-title {
          font-size: 16px;
          color: rgba(255,255,255,.6);
        }
        .ant-steps-item-description {
          font-size: 12px;
          width: 340px;
          height: 60px;
          color: rgba(255,255,255,.6);
        }
      }
    }
  }
}
